<div class="container bgColor p-3 rounded-5 mb-4">
  <div class="h2">
    Conditions Générales d'Utilisation (CGU) du site Louison-masseuse
  </div>
  <div class="row col-11 col-md-10">
    <h3>Bienvenue sur le site Louison-masseuse</h3>
    <p>
      Ces conditions régissent votre utilisation de notre site web
      www.Louison-Masseuse.fr. En accédant à ce site, nous supposons que vous
      acceptez ces termes et conditions dans leur intégralité. Ne continuez pas
      à utiliser le site Louison-masseuse si vous n'acceptez pas toutes les
      conditions générales énoncées sur cette page.
    </p>
    <div class="h3">1. Licence d'Utilisation</div>
    <p>
      Sauf mention contraire, Louison-masseuse et/ou ses concédants de licence
      possèdent les droits de propriété intellectuelle de tout le matériel sur
      Louison-masseuse. Tous les droits de propriété intellectuelle sont
      réservés. Vous pouvez consulter et/ou imprimer des pages à partir de [URL
      du site] pour votre usage personnel, sous réserve des restrictions
      définies dans ces termes et conditions.
    </p>
    <div class="h3">2. Restrictions</div>
    <p>Vous êtes spécifiquement limité à :</p>
    <ul class="ms-5">
      <li>La revente ou la location de tout matériel de Louison-masseuse.</li>
      <li>
        La reproduction ou la duplication de tout matériel du site
        Louison-masseuse pour un usage commercial.
      </li>
      <li>
        L'utilisation abusive du site ou des services proposés sur
        Louison-masseuse.
      </li>
      <li>La modification de tout contenu publié sur Louison-masseuse.</li>
    </ul>
    <div class="h3">3. Contenu de l'Utilisateur</div>
    <p>
      Dans ces conditions générales d'utilisation, "votre contenu utilisateur"
      désigne tout matériel (y compris, sans limitation, les textes, images,
      matériel audio, matériel vidéo et matériel audiovisuel) que vous soumettez
      à ce site web, quelle qu'en soit la finalité. Votre contenu utilisateur ne
      doit pas être illégal ou illicite, ne doit pas enfreindre les droits
      légaux de tiers et ne doit pas être capable de donner lieu à des actions
      en justice contre vous, Louison-masseuse ou un tiers.
    </p>
    <div class="h3">4. Aucune Garantie</div>
    <p>
      Ce site est fourni "tel quel", avec tous ses défauts, et Louison-masseuse
      n'exprime aucune représentation ou garantie, de quelque nature que ce
      soit, liée à ce site web ou aux matériaux contenus sur ce site web.
    </p>
    <div class="h3">5. Limitation de Responsabilité</div>
    <p>
      En aucun cas, Louison-masseuse, ni aucun de ses officiers, directeurs et
      employés, ne seront tenus responsables de toute chose découlant de ou en
      quelque manière que ce soit liée à votre utilisation de ce site web.
    </p>
    <div class="h3">6. Indemnisation</div>
    <p>
      Vous indemnisez dans toute la mesure du possible Louison-masseuse contre
      toutes les responsabilités, coûts, demandes, causes d'action, dommages et
      dépenses (y compris les frais juridiques raisonnables) découlant de votre
      violation de l'une de ces dispositions des présentes conditions générales.
    </p>
    <div class="h3">7. Séparabilité</div>
    <p>
      Si une disposition de ces conditions générales est jugée inapplicable ou
      invalide en vertu de toute loi applicable, cela n'affectera pas la
      validité et l'applicabilité des autres dispositions.
    </p>
    <div class="h3">8. Modification des Conditions</div>
    <p>
      Louison-masseuse est autorisé à réviser ces conditions à tout moment, et
      en utilisant ce site web, vous êtes censé revoir ces conditions
      régulièrement.
    </p>
    <div class="h3">9. Loi Applicable</div>
    <p>
      Ces conditions seront régies et interprétées conformément aux lois de la
      République Française, et vous vous soumettez à la juridiction non
      exclusive des tribunaux français pour la résolution de tout litige.
    </p>
  </div>
</div>
