<nav class="navbar bg-body-tertiary mt-5 p-0">
  <div class="container pt-3">
    <div class="col-12 col-md-4">
      <div class="row">
        <h3 class="text-white">
          <strong class="text-center"><em>Contact</em></strong>
        </h3>
      </div>
      <div class="d-flex justify-content-center">
        <button
          type="button"
          class="btn green text-white mt-3 col-8"
          routerLink="/mentions-legales"
        >
          Mentions Legales
        </button>
      </div>
    </div>
  </div>
  <div class="container justify-content-center">
    <div routerLink="/mentions-legales" class="btn">
      <p class="text-white text-center my-2">
        © 2021 MyDill Connect - Tous droits réservés - Mentions Légales
      </p>
    </div>
  </div>
</nav>
