<div class="container bgColor p-3 rounded-5 mb-4">
  <div class="h2">Clause Générale d'Information</div>

  <div class="row col-11 col-md-10">
    <div class="h3">1. Qui sommes-nous ?</div>
    <p>
      Louison-Masseuse.fr est responsable du traitement de vos données
      personnelles sur ce site. Pour toute question relative à la protection de
      vos données, veuillez nous contacter à [Adresse E-mail].
    </p>
    <div class="h3">2. Quelles données collectons-nous ?</div>
    <p>
      Nous recueillons des informations que vous nous fournissez volontairement,
      telles que votre nom, adresse e-mail et numéro de téléphone, lorsque vous
      utilisez notre formulaire de contact. Nous collectons également des
      données de navigation via des cookies pour améliorer votre expérience sur
      notre site.
    </p>
    <div class="h3">3. Comment utilisons-nous vos données ?</div>
    <p>Vos données sont utilisées pour :</p>
    <ul class="ms-5">
      <li>Répondre à vos demandes de contact et communiquer avec vous.</li>
      <li>Améliorer la performance et la sécurité de notre site.</li>
      <li>Respecter nos obligations légales et réglementaires.</li>
    </ul>
    <div class="h3">4. Partageons-nous vos données ?</div>
    <p>
      Nous ne vendons ni ne partageons vos données personnelles avec des tiers,
      sauf si cela est nécessaire pour répondre à votre demande, pour respecter
      des obligations légales, ou pour protéger les droits et la sécurité de
      [Nom de l'Entreprise].
    </p>
    <div class="h3">5. Vos droits</div>
    <p>
      Vous avez le droit d'accéder à vos données personnelles, de les rectifier,
      de demander leur suppression, ou de vous opposer à leur traitement. Pour
      exercer ces droits, contactez-nous à [Adresse E-mail].
    </p>
    <div class="h3">6. Consentement</div>
    <p>
      En utilisant notre site, vous consentez à la collecte et à l'utilisation
      de vos données comme décrit ci-dessus. Vous pouvez retirer ce consentement
      à tout moment en nous contactant.
    </p>
    <div class="h3">7. Modifications de cette Clause</div>
    <p>
      Nous pouvons modifier cette clause pour refléter les changements dans nos
      pratiques de traitement des données. Nous vous recommandons de la
      consulter régulièrement.
    </p>
    <p>
      Nous vous remercions de votre confiance et de votre visite sur
      Louison-Masseuse.fr.
    </p>
  </div>
</div>
