<div class="container pt-3 ml-0">
  <div class="row justify-content-between align-items-center m-2">
    <h1 class="mb-3 col-6">Gestion du parc informatique</h1>
    <div class="col-md-4 col-4 my-auto">
      <img
        src="/assets/image/it-tools.webp"
        alt="Gestion informatique"
        width="100%"
        height="auto"
        class="rounded-5 it-img"
      />
    </div>
  </div>
  <p class="m-4 justify-content-center">
    Bienvenue sur la page de gestion du parc informatique de notre école. Ici, vous pourrez gérer l'ensemble de notre infrastructure informatique, y compris les ordinateurs, les logiciels, et les outils numériques utilisés quotidiennement. Notre objectif est de vous fournir une plateforme simple et efficace pour maintenir et optimiser les équipements technologiques.
  </p>
  <div class="d-flex justify-content-end my-auto">
    <button
      type="button"
      class="btn btn-success mb-3"
      [routerLink]="['/presentation']"
    >
      En savoir plus
    </button>
  </div>

<div class="container green rounded-5 col-12 pt-2">
  <div class="row col-12">
    <div class="d-flex col-4 col-md-2 mx-auto pb-2">
      <img
          src="/assets/image/computers.webp"
          alt="Gestion du parc informatique"
          class="img-fluid rounded-5 mx-auto d-block"
        />
    </div>
  </div>
  <h5 class="text-center text-white pb-2">
          Gérez efficacement le parc informatique :
  </h5>
</div>


    <!-- First Row of Cards -->
    <div class="row justify-content-center g-4">
      <!-- Ordinateurs Card -->
      <div class="col-12">
        <a href="/categorie/ordinateurs" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/computer-management.webp"
              alt="Ordinateurs"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Ordinateurs</h5>
              <p class="card-text">
                Découvrez notre gamme complète d'ordinateurs adaptés à tous vos besoins professionnels et personnels.
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Logiciels Card -->
      <div class="col-12">
        <a href="/categorie/projecteurs" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/software.webp"
              alt="projecteurs"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Projecteurs</h5>
              <p class="card-text">
                Accédez à une variété de projecteurs performants pour optimiser votre productivité et sécurité informatique.
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Réseaux Card -->
      <div class="col-12">
        <a href="/categorie/scanner" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/network.webp"
              alt="Scanner"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Scanner</h5>
              <p class="card-text">
                Solutions de scanner pour numériser vos documents et gérer efficacement vos données numériques.
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Outils numériques Card -->
      <div class="col-12">
        <a href="/categorie/imprimantes" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/categorie/HP R740 FKOOP.webp"
              alt="Imprimantes"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Imprimantes</h5>
              <p class="card-text">
                Explorez nos imprimantes multifonctions pour une gestion efficace de vos documents et impressions.
              </p>
            </div>
          </div>
        </a>
      </div>


    <!-- Outils numériques Card -->
      <div class="col-12">
        <a href="/categorie/stations" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/categorie/MSI RAW POWER.webp"
              alt="statiions"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Stations</h5>
              <p class="card-text">
                Explorez nos stations  pour une gestion efficace de vos documents et impressions.
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Outils numériques Card -->
      <div class="col-12">
        <a href="/categorie/serveurs" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/categorie/MC PRO MAX BOOST.webp"
              alt="serveurs"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Serveurs</h5>
              <p class="card-text">
                Observez nos serveurs
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- Outils numériques Card -->
      <div class="col-12">
        <a href="/categorie/disquedursetusb" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/categorie/SO NGAUKOU.webp"
              alt="disquedursetusb"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Disques durs et USB</h5>
              <p class="card-text">
                Nos usb et disques durs pour stocker vos données
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Outils numériques Card -->
      <div class="col-12">
        <a href="/categorie/cable-adaptateurs" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/categorie/SanDisk BOKU2PLACE.webp"
              alt="cable et adaptateurs"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Câble et adaptateurs</h5>
              <p class="card-text">
                Regardez nos cables et adaptateurs pour vos appareils
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Outils numériques Card -->
      <div class="col-12">
        <a href="/categorie/webcams" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/categorie/Logitech MHA HD.webp"
              alt="webcams"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Webcams</h5>
              <p class="card-text">
                Interessez-vous à nos webcam pour vos visioconférences
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- Outils numériques Card -->
      <div class="col-12">
        <a href="/categorie/chargeurs" class="text-decoration-none">
          <div class="card bg-transparent border-2 rounded-5">
            <img
              src="/assets/image/categorie/RAVPower 30600mAh.webp"
              alt="chargeurs"
              class="card-img-top rounded-top-5"
            />
            <div class="card-body text-center">
              <h5 class="card-title">Chargeurs</h5>
              <p class="card-text">
                Nos chargeurs pour vos appareils
              </p>
            </div>
          </div>
        </a>
      </div>
 </div>







