<div class="container pt-3 ml-0">
  <div class="row justify-content-between align-items-center m-2">
    <h1 class="mb-3 col-6">Gestion du parc informatique</h1>
    <div class="col-md-4 col-4 my-auto">
      <img
        src="/assets/image/it-tools.webp"
        alt="Gestion informatique"
        width="100%"
        height="auto"
        class="rounded-5 it-img"
      />
    </div>
  </div>
  <p class="m-4 justify-content-center">
    Bienvenue sur la page de gestion du parc informatique de notre école. Ici, vous pourrez gérer l'ensemble de notre infrastructure informatique, y compris les ordinateurs, les logiciels, et les outils numériques utilisés quotidiennement. Notre objectif est de vous fournir une plateforme simple et efficace pour maintenir et optimiser les équipements technologiques.
  </p>
  <div class="d-flex justify-content-end my-auto">
    <button
      type="button"
      class="btn btn-success mb-3"
      [routerLink]="['/presentation']"
    >
      En savoir plus
    </button>
  </div>
</div>

<div class="container blue rounded-5 col-10 pt-2">
  <div class="row col-12">
    <div class="d-flex col-4 col-md-2 mx-auto pb-2">
      <img
        src="/assets/image/computers.webp"
        alt=""
        width="60%"
        height="auto"
        class="rounded-5 m-auto"
      />
    </div>
  </div>
  <h5 class="text-center text-white pb-2">
    Gérez efficacement le parc informatique :
  </h5>
  <div class="row col-12 col-md-10 mx-auto wrap">
    <a type="button" class="row col-6 col-md-3 mx-auto pb-2" href="#ordinateurs">
      <img
        src="/assets/image/computer-management.webp"
        alt=""
        class="rounded-5 m-auto img-fluid col-8"
      />
      <p class="text-center text-white">Ordinateurs</p>
    </a>
    <a type="button" class="row col-6 col-md-3 mx-auto pb-2" href="#logiciels">
      <img
        src="/assets/image/software.webp"
        alt=""
        class="rounded-5 m-auto img-fluid col-8"
      />
      <p class="text-center text-white">Logiciels</p>
    </a>
    <a type="button" class="row col-6 col-md-3 mx-auto pb-2" href="#reseaux">
      <img
        src="/assets/image/network.webp"
        alt=""
        class="rounded-5 m-auto img-fluid col-8"
      />
      <p class="text-center text-white">Réseaux</p>
    </a>
    <a type="button" class="row col-6 col-md-3 mx-auto pb-2" href="#outils">
      <img
        src="/assets/image/tools.webp"
        alt=""
        class="rounded-5 m-auto img-fluid col-8"
      />
      <p class="text-center text-white">Outils numériques</p>
    </a>
  </div>
  <h5 class="text-center text-white pb-2">
    Ou explorez nos autres services :
  </h5>
  <div class="row col-12 col-md-10 mx-auto wrap">
    <a type="button" class="row col-6 col-md-3 mx-auto pb-2" href="#support">
      <img
        src="/assets/image/support.webp"
        alt=""
        class="rounded-5 m-auto img-fluid col-8"
      />
      <p class="text-center text-white">Support technique</p>
    </a>
    <a type="button" class="row col-6 col-md-3 mx-auto pb-2" href="#maintenance">
      <img
        src="/assets/image/maintenance.webp"
        alt=""
        class="rounded-5 m-auto img-fluid col-8"
      />
      <p class="text-center text-white">Maintenance</p>
    </a>
  </div>
  <p class="text-center text-white pb-3">Plus de détails ci-dessous :</p>
</div>
